export JAVA_HOME=/opt/MW/java
export TARGET_DIR=/opt/MW
export TOMCAT_USER=tomcat
export JAVA_HOME=${TARGET_DIR}/java
export JAVA=${JAVA_HOME}/bin/java
export JRE_HOME=${JAVA_HOME}
export CATALINA_BASE=${TARGET_DIR}/tomcat
export CATALINA_HOME=${TARGET_DIR}/tomcat
export PATH="$JAVA_HOME/bin:$HOME/.local/bin:$HOME/bin:$PATH"